<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style media="screen">
      section {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 20px;
        flex-wrap: wrap;
      }
    </style>
  </head>
  <body>
    <section>
      <% data.forEach(user => { %>
      <div>
        <p><%= user.id %></p>
        <p><%= user.login %></p>
        <img src=<%= user.avatar_url %> alt="" style="border-radius: 100%;
        width: 100px; height: 100px;">
      </div>
      <% }) %>
    </section>
  </body>
</html>
